/* Variables : your settings */

$size: 100%; /* Any unit */
$background-color: #DE620A; /* No gradients */

/* Don't change anything below this point */

.player-background {
    width: $size;
    height: $size;
    background: #dddddd;
    @include border-radius(50%);
    position: relative;
}

.pie {
    width: 50%;
    height: 100%;
    -webkit-transform-origin: 100% 50%;
    position: absolute;
    background: $background-color;
}

.spinner {
  @include border-radius(100% 0 0 100% / 50% 0 0 50%);
  z-index: 20;
  border-right: none;
  @include transform(rotate(0deg));
}

.filler {
  @include border-radius(0 100% 100% 0 / 0 50% 50% 0);
  left: 50%;
  opacity: 0;
  z-index: 100;
  border-left: none;
}

.mask {
  width: 51%;
  height: 101%;
  position: absolute;
  top: -1px;
  left: -1px;
  background: inherit;
  opacity: 1;
  z-index: 50;
  @include border-radius(100% 0 0 100%/50% 0 0 50%);
}


@-webkit-keyframes rota {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes opa {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}